* {
    color: #000;
}

ul li a, ul li a:hover, ul li a:focus {
    color: #000;
    border: none;
}

.react-pagination-js-border-bottom ul {
    font-size: 25px;
    margin-top: -7px;
    margin-left: auto;
    position: relative;

}

/* .react-pagination-js-border-bottom ul:after {
    position: absolute;
    content: 'NEXT';
    top: 3px;
    right: 18px;
    color: red;
} */

.react-pagination-js-border-bottom .is-active {
    border: none;
    color: #4045f5;
}

.player-control .page {
    margin-left: auto;
} 

.page:hover {
    border: none;
}

@media all and (min-width: 768px) {
    .react-pagination-js-border-bottom ul {
        display: flex;
        margin: 1em 0;
        justify-content: center;
    }
}

