* {
  box-sizing: border-box;
}

body {
  padding: 0em;
  margin: .5em;
}

.App {
  justify-content: center;
  margin: auto 0;
}

p * {
  display: none;
}

p p {
  display: unset;
}

p {
  font-size: 12px;
  letter-spacing: .33px;
  margin: 0;
  margin-top: .1em;
  height: 2.5em;
  overflow: hidden;
  white-space: break-spaces;
  text-overflow: ellipsis;
}

.episode-desc p, p.podcast-desc {
  font-size: 14px;
  letter-spacing: .4px;
}

.episode-desc p {
  height: 6.5em;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  padding: 0;
  margin: 0; 
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: .5px;
  margin: 0;
}

h2,h3,h4,h5 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  height: 1.2em;
  margin: 0;
  overflow: hidden;
  white-space: break-spaces;
  text-overflow: ellipsis;
}

h3 {
  font-size: 22px;
  letter-spacing: .6px;
}

h4 {
  font-size: 18px;
  letter-spacing: .5px;
}

h5 {
  font-size: 15px;
  letter-spacing: .4px;
}

a {
  text-decoration: none;
  color: #000000;
}

.logos {
  display: flex;
  justify-content: space-between;
}

.shellicon, .hearticon {
  padding: .5em 0em;
}

.hearticon:hover {
  cursor: pointer;
}

.search {
  margin-top: 20px;
}

/* For search.js component's styling */
.search-section {
  padding: 25px;
  background-color: #6BE0CB;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.search-top {
  display: flex;
  justify-content: left;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

.search-icon img {
  width: 18px;
  margin-right: 7px;
}

.search-podcasts {
  margin: 0;
  padding: 0;
}

input {
  height: 30px;
  width: 100%;
  border-radius: 7px;
  background-color: #f5f5f5;
  border: .1px solid #f5f5f5;
  position: relative;
}

input:focus {
  outline: none;
}

.search-keyword-form {
  position: relative;
}

.search-keyword-form.forwardarrow {
  position: absolute;
  top: .5em;
  right: .7em;
}

/* For results.js component's styling */
.loadingShell {
  display: grid;
  margin: auto 0;
  padding: 2em;
  justify-content: center;
  align-items: center;
}

.results-control {
  display: flex;
  justify-content: left;
  margin: 25px 0px;
}

.results-backarrow img {
  margin: 0;
  height: 18px;
  margin-top: 12px;
  margin-right: 10px;
}

.results-header {
  margin: 0;
}

.podcast-results {
  width: inherit;
}

/* For player.js component's styling */
.podcast-list {
  display: grid;
  margin: 0;
  margin-top: 10px;
  grid-template-columns: 1fr;
}

.podcast {
  display: flex;
  margin-bottom: 15px;
}

.podcast:hover {
  cursor: pointer;
}

.podcast-left img {
  width: 75px;
  margin-right: 10px;
  border-radius: 7px;
}


.nopodcast {
  color: #6BE0CB;
}

span {
  color: #4045F5;
}

.episode-favicon {
  justify-content: flex-end;
  direction: rtl;
}

.episode-img img {
  border-radius: 12px;
  width: 150px;
  margin-right: 10px;
}

.episode-detail {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.episode-desc{
  display: flex;
  flex-direction: column;  
  margin-top: .7em;
  max-height: 10em;
  overflow: hidden;
} 

.audio-control{
  width: 100%;
}

/* All rhap_* for AudioPlayer component's overrides */
.rhap_container, .rhap_container *:focus {
  box-shadow: none;
  border: none;
  outline: none;
}

.rhap_progress-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: 'Source Sans Pro', sans-serif;
}

.rhap_progress-container {
  grid-area: 1/1/2/4;
  margin: 0px;
}

#rhap_current-time {
  grid-area: 2/1/2/2;
  font-size: 14px;
  letter-spacing: .4px;
}

.rhap_total-time {
  grid-area: 2/3/3/4;
  font-size: 14px;
  letter-spacing: .4px;
  text-align: right;
}

.rhap_progress-bar {
  height: 10px;
  background-color: #ffffff;
  outline: none;
  border-radius: none;
}

.rhap_progress-filled {
  background-color: #4045F5;
  border-radius: 0px;
}

.rhap_download-progress {
  display: none;
}

.rhap_progress-indicator {
  display: none;
}


.i-player .rhap_controls-section .rhap_main-controls {
  flex-direction: row;
  justify-content: space-around;
}

.audio-player, .i-player {
  background-color: #6BE0CB;
  border: none;
  padding: 0;
}

.audio-player .rhap_controls-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.i-player .rhap_controls-section {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.rhap_main-controls-button {
  color: #f5f5f5;
}

.rhap_play-pause-button {
  display: grid;
  margin: 0 .5em;
  place-content: center;
}

.rhap_volume-container {
  margin-right: 7px;
  justify-content: space-between;
}

.rhap_volume-button {
  color: #f5f5f5;
}

.rhap_volume-bar {
  background: #ffffff;
  border-radius: 2px;
}

.rhap_volume-indicator {
  background: #4045F5;
}

.episode-playing {
  background-color: #6BE0CB;
  display: flex;
  flex-direction: column;
  padding: 1em 1em 1.2em;
  margin: 1em 0em;
  border-radius: .5em;
}

.nextEpisode {
  margin: 30px 0px 10px;
}

.nextEpisode-list {
  display: grid;
  margin: 10px 0px;
  grid-template-columns: 1fr;
}

.nextEpisode-list-item {
  background-color: #CDF4ED;
  padding: .7em;
  margin: 7px 2px;
  display: flex;
  border-radius: 10px;
  border-left: .6em solid #6BE0CB;
}

.nextEpisode-list-item-left {
  flex: 80%;
}


.nextEpisode-list-item-right {
  display: grid;
  place-content: center;
} 

button#play {
  padding: auto 0px;
}

#play {
  background-color: #CDF4ED;
  border-radius: 50%;
  border: none;
  outline: none;
}

#play:hover {
 cursor: pointer;
}

@media all and (max-width: 420px) {
  .rhap_volume-container {
    flex: 1;
  }
}

@media all and (min-width: 480px) {

  .App {
    justify-content: center;
    margin: 0px 3em;
  }

}

@media all and (min-width: 768px) {

  .App {
    justify-content: center;
    margin: 0px 6em;
  }

} 
